/* Used colors from https://www.w3schools.com/css/css_colors.asp to give color to the heading and text alignment from https://www.w3schools.com/css/css_text_align.asp to align the text */
h1 {
	color: black;
	text-align: center;
}
/* Used background-color from https://www.w3schools.com/css/css_background.asp to give background color to the website.*/
body {
	background-color: lightskyblue;
}
/* Used margins from https://www.w3schools.com/css/css_margin.asp to give spacing on outer side and used font family from https://www.w3schools.com/css/css_font.asp for the body. */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow:hidden;
	background-color:none;
}

/*float to right*/
li{
	float: right;
}

/*set font, margin, display as block, color. padding, text-align*/
li a{
	font-family: Arial, Helvetica, sans-serif;
	margin-left:auto;
	display: block;
	color: cadetblue;
	text-align: center;
	padding: 16px 20px;
	text-decoration: none;
}

/*make the list active, set background color*/
li a:hover:not(.active){
	background-color:darkseagreen;
}

/*set the active background color*/
.active{
	background-color:rgb(205,164,156);
}

li.logo{
	float:left;
}
	
@media screen and (max-width: 600px) {
	li.right,
	li {float: none;}
}