/*just a demo*/
.image {
    padding-left:10px;
    width:30;
    height:30;
    float:left;
    background-color: black;
    text-align: center;
}
footer {
    background-color: black;
}
/*this is Xin here*/
/* Angel */