/*just a demo*/
.image {
    padding-left:10px;
    width:30;
    height:30;
    float:left;
    background-color: black;
}
.position {
    padding-left: 40%;
    

}
.text {
    font-size: 20px;
    background-color:white;
}
footer {
    background-color: black;
}
/*this is Xin here*/
/* Angel */